body {
    margin: 0;
}
* {
    box-sizing: border-box;
 }
 .cangermen {
    color: white;
   }
 .navbar {
    display: flex;
    justify-content: space-between;
    
 }
 .navbar ul li {
    display: inline;
    list-style-type: none;
 }
 a {
    padding: 5px;
    color: white;
 }
 .navbar ul {
    margin: 0;
    padding: 0;
 }