body {
    background-color: rgb(80, 80, 172);
}
.cangermen {
 color: white;
}
.link {
    justify-content: space-between;
}
.img {
    position: static;
    width: 744px;
    height: 681px;
    left: -89px;
    top: 0px;
}